* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.button_container {
  padding: 20px;
  margin-left: 40px;
  margin-bottom: 10px;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  padding: 2rem;
}

img {
  width: 75%;
}

button {
  padding: 8px 20px;
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  background-color: #393e46;
  color: #4ecca3;
  border-radius: 5px;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* Making responsive  */

@media (max-width: 700px) {
  body {
    height: 100vh;
  }
  
  .container {
    width: 100%;
  }
  
  .dice_btn_container {
    flex-direction: column;
    text-align: center;
  }
  
  h1 {
    margin: 0;
    padding-top: 20px;
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.5rem;
    margin-top: 0;
    padding: 1rem;
  }
  
  img {
    padding-bottom: 0;
    width: 45%;
    margin-bottom: 20px;
  }

  .button_container {
    padding: 0px;
    margin: auto;
    margin-bottom: 10px;
  }

  button {
    font-size: 1.5rem;
    border-radius: 5px;
  }

  footer {
    margin: 0;
  }
}
