* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  padding: 2rem;
}

img {
  width: 75%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* Making responsive  */

@media (max-width: 700px) {

  body {
    height: 100vh;
  }

  .container {
    width: 100%;
  }

  h1 {
    margin: 0 0 30px 0;
    padding-top: 20px;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
    margin-top: 30px;
    padding: 1rem;
  }

  img {
    width: 45%;
  }

  footer {
    margin: 15% 2%;
  }
}
